div {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin: 0 30%;
}

.content-block-title  {
    min-height: 100px;
    font-family: sans-serif, Verdana, Helvetica, Arial;  
    padding: 20px 50px 0px 50px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.content-container-buttons-wrapper {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.content-container-buttons-wrapper-button,
.content-container-buttons-wrapper-button-last {
    display: flex;
    align-items: center;
    min-height: 100px;
    background-color: aliceblue;

    cursor: default;
}

.content-container-buttons-wrapper-button {
    margin-bottom: 15%;
}

.title-button-text {
    margin: 0 10px;
    font-family: sans-serif, Verdana, Helvetica, Arial;  
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #0000FF;
}

.content-container-buttons-wrapper-button:hover,
.content-container-buttons-wrapper-button-last:hover {
    border: 1px solid #FF0000;
}